flows.json
[{"id":"2c05c3fb.6c889c","type":"tab","label":"Start of flow","disabled":false,"info":""},{"id":"fad6daa6.f7fe68","type":"tab","label":"Convert Audio","disabled":false,"info":"Convert audio using ffmpeg, creating a simple page to play and download the converted recordings\n\n## Requirements\n\n* [node-red-contrib-browser-utils](https://flows.nodered.org/node/node-red-contrib-browser-utils)\n* [node-red-contrib-media-utils](https://flows.nodered.org/node/node-red-contrib-media-utils)"},{"id":"494dd2a7.227fec","type":"tab","label":"Send voice message from file example","disabled":false,"info":""},{"id":"be649609.429f18","type":"subflow","name":"Dialogflow","info":"","category":"","in":[{"x":100,"y":280,"wires":[{"id":"bfece18.db1392"}]}],"out":[{"x":1000,"y":280,"wires":[{"id":"9ab419c4.3bb2f8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"b8f7c590.20cb28","type":"subflow","name":"text to voice \"en\"","info":"","category":"","in":[{"x":240,"y":340,"wires":[{"id":"5787da23.6163a4"}]}],"out":[{"x":1440,"y":340,"wires":[{"id":"fd1ad7.6f68d528","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"54029ea9.509e4","type":"subflow","name":"voice to text \"en\"","info":"","category":"","in":[{"x":220,"y":280,"wires":[{"id":"25ae872b.5683e8"}]}],"out":[{"x":2020,"y":280,"wires":[{"id":"3f39fc3c.e0ab04","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"3f28875d.204368","type":"subflow","name":"voice to text \"ua\"","info":"","category":"","in":[{"x":220,"y":320,"wires":[{"id":"2d5ce0a4.c6311"}]}],"out":[{"x":2040,"y":320,"wires":[{"id":"e4c12e6e.12147","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"31238394.02f4cc","type":"subflow","name":"text to voice \"ua\"","info":"","category":"","in":[{"x":260,"y":340,"wires":[{"id":"58210b3b.7b0574"}]}],"out":[{"x":1560,"y":340,"wires":[{"id":"1e8ecd1d.050b33","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"76934f86.4cb05","type":"google-service-account","name":"google-cpeech-api","scope":[],"way":"json","check_dialogflow":"","check_speech":""},{"id":"b172a0a.b9cbb6","type":"mongodb","hostname":"cluster0.zmwjb.mongodb.net","topology":"dnscluster","connectOptions":"","port":"27017","db":"workouts","name":"connection to workouts database"},{"id":"bdcc61bb.eb1d5","type":"dialogflowv2-token","name":"pdp_development"},{"id":"9856fec2.7625","type":"mongodb2","uri":"cluster0.zmwjb.mongodb.net","name":"connection to workouts database","options":"","parallelism":"-1"},{"id":"5a255428.e7753c","type":"http in","z":"2c05c3fb.6c889c","name":"","url":"/telegram_webhook","method":"post","upload":false,"swaggerDoc":"","x":210,"y":180,"wires":[["7e021cf0.ccfb44","e919c7aa.e0f008","e3dab34d.2cdb3"]]},{"id":"7e021cf0.ccfb44","type":"http response","z":"2c05c3fb.6c889c","name":"send code 200 to telegram","statusCode":"200","headers":{},"x":220,"y":220,"wires":[]},{"id":"c29acb46.3a87d8","type":"inject","z":"2c05c3fb.6c889c","name":"Start webhook setting","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":100,"wires":[["25fedffa.9f143"]]},{"id":"25fedffa.9f143","type":"function","z":"2c05c3fb.6c889c","name":"Set webhook settings","func":"const botToken = \"1513347626:AAHS3wzBjpVjDrPVEonT1x2vNdFdoyOxzTw\";\nconst webHookLink = \"https://olyamakar-chatbotsstudio.eu.ngrok.io\";\n\nmsg.method = \"POST\";\nmsg.url = `https://api.telegram.org/bot${botToken}/setWebhook`;\nmsg.payload = {\n    url: `${webHookLink}/telegram_webhook`\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":100,"wires":[["59c9187e.62b7d8"]]},{"id":"59c9187e.62b7d8","type":"http request","z":"2c05c3fb.6c889c","name":"Request to telegram for webhook setting","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":760,"y":100,"wires":[["4a637ae3.c2d714"]]},{"id":"4a637ae3.c2d714","type":"debug","z":"2c05c3fb.6c889c","name":"Result of webhook setting","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":60,"wires":[]},{"id":"e919c7aa.e0f008","type":"debug","z":"2c05c3fb.6c889c","name":"Show body of telegram hook","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":220,"y":140,"wires":[]},{"id":"e3dab34d.2cdb3","type":"function","z":"2c05c3fb.6c889c","name":"Set general variables","func":"msg.botToken = \"1513347626:AAHS3wzBjpVjDrPVEonT1x2vNdFdoyOxzTw\";\n\nmsg.chat_id = msg.payload.message.from.id;\n\nif(msg.payload.message && msg.payload.message.voice) {\n    msg.file_id = msg.payload.message.voice.file_id;\n}\n\nif(msg.payload.message && msg.payload.message.text) {\n    msg.text = msg.payload.message.text;\n}\n\nmsg.messageType = msg.text ? \"text\" : \"voice\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":180,"wires":[["e92a7e8e.50733"]]},{"id":"96b3c22c.f0476","type":"inject","z":"2c05c3fb.6c889c","name":"Run google speech api testing","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":2360,"wires":[[]]},{"id":"51c2aaef.7204d4","type":"function","z":"2c05c3fb.6c889c","name":"Set payload for google speech","func":"const botToken = \"1513347626:AAHS3wzBjpVjDrPVEonT1x2vNdFdoyOxzTw\";\n\nmsg.payload = `https://olha-pdp-bucket.s3.eu-central-1.amazonaws.com/2021-01-17-01.23.51.wav`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":2360,"wires":[[]]},{"id":"8018e951.7fc698","type":"debug","z":"2c05c3fb.6c889c","name":"Voice text","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2560,"y":200,"wires":[]},{"id":"7d5774ca.08e9ac","type":"inject","z":"2c05c3fb.6c889c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":2240,"wires":[["cc57d408.4c7e58"]]},{"id":"cc57d408.4c7e58","type":"http request","z":"2c05c3fb.6c889c","name":"","method":"GET","ret":"bin","paytoqs":"ignore","url":"https://api.telegram.org/file/bot1513347626:AAHS3wzBjpVjDrPVEonT1x2vNdFdoyOxzTw/voice/file_2.oga","tls":"","persist":false,"proxy":"","authType":"","x":420,"y":2240,"wires":[["faaf592b.c7b3c8"]]},{"id":"748526c.01259d8","type":"microphone","z":"fad6daa6.f7fe68","name":"","x":130,"y":160,"wires":[["d669f5bc.a0acb8","a0db8865.2f7eb8","44da1995.09b988","d4a49c03.c03ba"]]},{"id":"9e01a0c7.a0abe","type":"http in","z":"fad6daa6.f7fe68","name":"","url":"/recording.wav","method":"get","upload":false,"swaggerDoc":"","x":150,"y":280,"wires":[["48de6b4a.d4dae4"]]},{"id":"73d161d5.bdee9","type":"http response","z":"fad6daa6.f7fe68","name":"","statusCode":"200","headers":{"Content-Type":"audio/wav"},"x":860,"y":280,"wires":[]},{"id":"48de6b4a.d4dae4","type":"change","z":"fad6daa6.f7fe68","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"wav","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":280,"wires":[["73d161d5.bdee9"]]},{"id":"f3975b91.3d01d8","type":"http response","z":"fad6daa6.f7fe68","name":"","statusCode":"200","headers":{"Content-Type":"audio/mpeg"},"x":860,"y":360,"wires":[]},{"id":"d7a146d9.f8b5e8","type":"change","z":"fad6daa6.f7fe68","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"mp3","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":360,"wires":[["f3975b91.3d01d8"]]},{"id":"bbce5940.34de58","type":"change","z":"fad6daa6.f7fe68","name":"","rules":[{"t":"set","p":"mp3","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":160,"wires":[[]]},{"id":"96960cb.0328ff","type":"ffmpeg-conversion","z":"fad6daa6.f7fe68","name":"","format":"ogg","audiochannels":"mono","x":670,"y":200,"wires":[["d8907ad4.95a468"]]},{"id":"d8907ad4.95a468","type":"change","z":"fad6daa6.f7fe68","name":"","rules":[{"t":"set","p":"ogg","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":200,"wires":[[]]},{"id":"2ba39bf5.8a2ea4","type":"http response","z":"fad6daa6.f7fe68","name":"","statusCode":"200","headers":{"Content-Type":"audio/ogg"},"x":860,"y":440,"wires":[]},{"id":"c2757462.cb6428","type":"change","z":"fad6daa6.f7fe68","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ogg","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":440,"wires":[["2ba39bf5.8a2ea4"]]},{"id":"4c88634b.71679c","type":"http in","z":"fad6daa6.f7fe68","name":"","url":"/recording.ogg","method":"get","upload":false,"swaggerDoc":"","x":150,"y":440,"wires":[["c2757462.cb6428"]]},{"id":"44da1995.09b988","type":"ffmpeg-conversion","z":"fad6daa6.f7fe68","name":"","format":"mp3","audiochannels":"mono","x":670,"y":160,"wires":[["bbce5940.34de58"]]},{"id":"d669f5bc.a0acb8","type":"delay","z":"fad6daa6.f7fe68","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430,"y":200,"wires":[["96960cb.0328ff"]]},{"id":"a0db8865.2f7eb8","type":"change","z":"fad6daa6.f7fe68","name":"","rules":[{"t":"set","p":"wav","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":120,"wires":[[]]},{"id":"af6f3bb4.0b8af8","type":"template","z":"fad6daa6.f7fe68","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <title>Download Recording</title>\n        <style>\n            * { font-family: Arial; }\n            body { margin: 20px 40px; }\n            a { color: #666; }\n        </style>\n    </head>\n    <body>\n        <h1>Download Audio File</h1>\n        <ul>\n            <li><a href=\"download/recording.wav\">Download recording.wav</a></li>\n            <li><a href=\"download/recording.mp3\">Download recording.mp3</a></li>\n            <li><a href=\"download/recording.ogg\">Download recording.ogg</a></li>\n        </ul>\n        <h2>Play Audio File</h1>\n        <h2>wav</h2> \n        <audio controls=\"controls\"><source src=\"/recording.wav\"/></audio>\n        <h2>mp3</h2>\n        <audio controls=\"controls\"><source src=\"/recording.mp3\"/></audio>\n        <h2>ogg</h2>\n        <audio controls=\"controls\"><source src=\"/recording.ogg\"/></audio>\n    </body>\n</html>","output":"str","x":640,"y":540,"wires":[["bc0face9.86e3d"]]},{"id":"67c18ad1.82bc54","type":"http in","z":"fad6daa6.f7fe68","name":"","url":"/recording","method":"get","upload":false,"swaggerDoc":"","x":140,"y":540,"wires":[["af6f3bb4.0b8af8"]]},{"id":"bc0face9.86e3d","type":"http response","z":"fad6daa6.f7fe68","name":"","statusCode":"200","headers":{},"x":860,"y":540,"wires":[]},{"id":"450a453e.43134c","type":"http in","z":"fad6daa6.f7fe68","name":"","url":"download/recording.mp3","method":"get","upload":false,"swaggerDoc":"","x":190,"y":400,"wires":[["6560fb39.657bf4"]]},{"id":"6560fb39.657bf4","type":"change","z":"fad6daa6.f7fe68","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Disposition\":\"attachment\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":400,"wires":[["d7a146d9.f8b5e8"]]},{"id":"f73adbae.a9b028","type":"http in","z":"fad6daa6.f7fe68","name":"","url":"/recording.mp3","method":"get","upload":false,"swaggerDoc":"","x":150,"y":360,"wires":[["d7a146d9.f8b5e8"]]},{"id":"c5c288af.6bffc8","type":"http in","z":"fad6daa6.f7fe68","name":"","url":"/download/recording.ogg","method":"get","upload":false,"swaggerDoc":"","x":180,"y":480,"wires":[["1a64fc24.ac8954"]]},{"id":"1a64fc24.ac8954","type":"change","z":"fad6daa6.f7fe68","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Disposition\":\"attachment\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":480,"wires":[["c2757462.cb6428"]]},{"id":"2c5d841a.7987bc","type":"http in","z":"fad6daa6.f7fe68","name":"","url":"/download/recording.wav","method":"get","upload":false,"swaggerDoc":"","x":180,"y":320,"wires":[["9c271d54.a0d5d"]]},{"id":"9c271d54.a0d5d","type":"change","z":"fad6daa6.f7fe68","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Disposition\":\"attachment\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":320,"wires":[["48de6b4a.d4dae4"]]},{"id":"5d3b7bdb.263994","type":"comment","z":"fad6daa6.f7fe68","name":"http://localhost:1880/recording","info":"","x":170,"y":60,"wires":[]},{"id":"d4a49c03.c03ba","type":"debug","z":"fad6daa6.f7fe68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":260,"y":240,"wires":[]},{"id":"faaf592b.c7b3c8","type":"ffmpeg-conversion","z":"2c05c3fb.6c889c","name":"","format":"wav","audiochannels":"mono","x":630,"y":2240,"wires":[[]]},{"id":"973154ec.8def18","type":"function","z":"2c05c3fb.6c889c","name":"Prepare message sending","func":"msg.method = \"POST\";\nmsg.url = `https://api.telegram.org/bot${msg.botToken}/sendMessage`;\nmsg.payload = {\n    chat_id: msg.chat_id,\n    text: msg.answer\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1230,"y":1920,"wires":[["736f944f.53655c"]]},{"id":"736f944f.53655c","type":"http request","z":"2c05c3fb.6c889c","name":"Request sendMessage","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1480,"y":1920,"wires":[["e79c9e07.9cbc8"]]},{"id":"e79c9e07.9cbc8","type":"debug","z":"2c05c3fb.6c889c","name":"Result of message sending","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1500,"y":1880,"wires":[]},{"id":"90f4f94b.08fd88","type":"fileinject","z":"494dd2a7.227fec","name":"","x":180,"y":260,"wires":[["9a6a4288.0ba0e","83070fbf.fd27a"]]},{"id":"9a6a4288.0ba0e","type":"function","z":"494dd2a7.227fec","name":"","func":"msg.headers = {\n    \"content-type\" : 'multipart/form-data'\n    };\nlet databuffer = msg.payload;\n\nmsg.payload = {\n    \"voice\": {\n        \"value\": databuffer,\n        \"options\": {\n            \"filename\": \"myfile.ogg\"\n        }\n    },\n    \"chat_id\": \"441000718\"\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":260,"wires":[["87fe631b.39bd1"]]},{"id":"87fe631b.39bd1","type":"http request","z":"494dd2a7.227fec","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot1513347626:AAHS3wzBjpVjDrPVEonT1x2vNdFdoyOxzTw/sendVoice","tls":"","persist":false,"proxy":"","authType":"basic","x":490,"y":260,"wires":[["5075269c.719ea8"]]},{"id":"5075269c.719ea8","type":"debug","z":"494dd2a7.227fec","name":"File has been sent","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":260,"wires":[]},{"id":"83070fbf.fd27a","type":"debug","z":"494dd2a7.227fec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":280,"y":140,"wires":[]},{"id":"14a77da7.8aa112","type":"switch","z":"2c05c3fb.6c889c","name":"Check voice message","property":"messageType","propertyType":"msg","rules":[{"t":"eq","v":"voice","vt":"str"},{"t":"eq","v":"text","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2000,"y":180,"wires":[["e0667d95.4e373"],["854c9ebf.d7ceb"]]},{"id":"1e303aae.0bb285","type":"mongodb in","z":"2c05c3fb.6c889c","mongodb":"b172a0a.b9cbb6","name":"Simple select example","collection":"users","operation":"find","x":560,"y":2060,"wires":[["8bee6784.f8b068"]]},{"id":"7b78e730.9d8068","type":"mongodb out","z":"2c05c3fb.6c889c","mongodb":"b172a0a.b9cbb6","name":"Simple insert example","collection":"users","payonly":true,"upsert":false,"multi":false,"operation":"store","x":600,"y":2160,"wires":[]},{"id":"d27a345a.7a9b38","type":"function","z":"2c05c3fb.6c889c","name":"","func":"msg.payload = {\n    name: \"Taras\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":2160,"wires":[["7b78e730.9d8068"]]},{"id":"144ac9d2.38ffc6","type":"inject","z":"2c05c3fb.6c889c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":2160,"wires":[["d27a345a.7a9b38"]]},{"id":"f8532d70.f496d","type":"dialogflowv2","z":"2c05c3fb.6c889c","dialogflow":"bdcc61bb.eb1d5","language":"en","debug":false,"queryParamsOK":false,"x":540,"y":2440,"wires":[["a37cccab.fd888"]]},{"id":"a37cccab.fd888","type":"debug","z":"2c05c3fb.6c889c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":2400,"wires":[]},{"id":"fa903b43.855e08","type":"function","z":"2c05c3fb.6c889c","name":"","func":"msg.payload = \"/start\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":2440,"wires":[["f8532d70.f496d"]]},{"id":"b96421c1.5891a","type":"inject","z":"2c05c3fb.6c889c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":2440,"wires":[["fa903b43.855e08"]]},{"id":"4ec82f0a.14e42","type":"inject","z":"2c05c3fb.6c889c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":2060,"wires":[["2d6dd558.d1794a"]]},{"id":"2d6dd558.d1794a","type":"function","z":"2c05c3fb.6c889c","name":"","func":"msg.payload = {\n    name: \"Taras\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":2060,"wires":[["1e303aae.0bb285"]]},{"id":"8bee6784.f8b068","type":"debug","z":"2c05c3fb.6c889c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":2020,"wires":[]},{"id":"4456249d.b2077c","type":"mongodb in","z":"2c05c3fb.6c889c","mongodb":"b172a0a.b9cbb6","name":"Search user in database","collection":"users","operation":"find","x":1070,"y":180,"wires":[["dbfe06ed.2816e8","f516b065.67f8a"]]},{"id":"e92a7e8e.50733","type":"function","z":"2c05c3fb.6c889c","name":"Prepare select object to mongodb","func":"msg.payload = {\n    chat_id: msg.chat_id\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":180,"wires":[["4456249d.b2077c"]]},{"id":"dbfe06ed.2816e8","type":"debug","z":"2c05c3fb.6c889c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1050,"y":140,"wires":[]},{"id":"f516b065.67f8a","type":"function","z":"2c05c3fb.6c889c","name":"Check if user exists and save to msg property","func":"if (msg.payload.length) {\n    msg.user = msg.payload[0];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":180,"wires":[["d7ecc193.d7af4"]]},{"id":"d7ecc193.d7af4","type":"switch","z":"2c05c3fb.6c889c","name":"Check user exists","property":"user","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1670,"y":180,"wires":[["14a77da7.8aa112"],["ada12d07.cd2b9"]]},{"id":"ada12d07.cd2b9","type":"function","z":"2c05c3fb.6c889c","name":"Set default user object","func":"msg.user = {\n    chat_id: msg.chat_id\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1820,"y":240,"wires":[["14a77da7.8aa112"]]},{"id":"c197d1f9.eab29","type":"mongodb out","z":"2c05c3fb.6c889c","mongodb":"b172a0a.b9cbb6","name":"Save user","collection":"users","payonly":true,"upsert":false,"multi":false,"operation":"store","x":2820,"y":520,"wires":[]},{"id":"597a8c8f.e13c74","type":"function","z":"2c05c3fb.6c889c","name":"Prepare payload to save user","func":"msg.payload = msg.user;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2600,"y":520,"wires":[["c197d1f9.eab29"]]},{"id":"df83a37f.0efb5","type":"dialogflowv2","z":"be649609.429f18","dialogflow":"bdcc61bb.eb1d5","language":"en","debug":false,"queryParamsOK":false,"x":500,"y":280,"wires":[["df8ee46b.8c38f8","9ab419c4.3bb2f8"]]},{"id":"df8ee46b.8c38f8","type":"debug","z":"be649609.429f18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":240,"wires":[]},{"id":"bfece18.db1392","type":"function","z":"be649609.429f18","name":"Set user text to payload","func":"msg.payload = msg.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":280,"wires":[["df83a37f.0efb5"]]},{"id":"9ab419c4.3bb2f8","type":"function","z":"be649609.429f18","name":"Set Dialogflow responce to msg.answer","func":"msg.answer = msg._dialogflow.fulfillmentText;\nmsg.intent = msg._dialogflow.intent.displayName;\nmsg.prevState = msg.user.state;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":280,"wires":[[]]},{"id":"3f5b7e45.fce3e2","type":"subflow:be649609.429f18","z":"2c05c3fb.6c889c","name":"","x":2830,"y":120,"wires":[["b070b053.4774e"]]},{"id":"c485e30f.72f9","type":"function","z":"2c05c3fb.6c889c","name":"Prepare answer","func":"msg.answer = `The word ${msg.text} that means`\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":520,"wires":[["181b730e.ab4a3d","b9c120bb.e90a7"]]},{"id":"22eb5f8b.dd6b4","type":"switch","z":"2c05c3fb.6c889c","name":"Check state","property":"user.state","propertyType":"msg","rules":[{"t":"eq","v":"adding","vt":"str"},{"t":"eq","v":"addWord","vt":"str"},{"t":"eq","v":"dialogflowState","vt":"str"},{"t":"eq","v":"welcome","vt":"str"},{"t":"eq","v":"deleteWord","vt":"str"},{"t":"eq","v":"deleting","vt":"str"},{"t":"eq","v":"askWord","vt":"str"},{"t":"eq","v":"remindWord","vt":"str"},{"t":"eq","v":"asking","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":270,"y":680,"wires":[["21e25c9b.b7ecc4","c485e30f.72f9"],["dfce5f75.8d98a","e3166c6e.8a1e6"],["17ea4ef8.1d0361","e3166c6e.8a1e6"],["98a7021e.751c9","e3166c6e.8a1e6"],["cccf91c2.b072a","e3166c6e.8a1e6"],["a7d5ab75.11d8e8","418a8ba.6e46d74"],["f522972f.578398","f667947e.7f19f8"],["5205572c.4cd738","31ae2f82.efd13"],["8d254de1.d3be5","9034fb62.c6f5a8"]]},{"id":"271b96ed.f1cd5a","type":"mongodb out","z":"2c05c3fb.6c889c","mongodb":"b172a0a.b9cbb6","name":"Save word","collection":"words","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1950,"y":460,"wires":[]},{"id":"a1a71664.af0028","type":"google-translate","z":"2c05c3fb.6c889c","name":"","to":"uk","x":520,"y":2560,"wires":[["1a0fce01.268982"]]},{"id":"3889204a.c644b","type":"inject","z":"2c05c3fb.6c889c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":2560,"wires":[["c973873b.545568"]]},{"id":"c973873b.545568","type":"function","z":"2c05c3fb.6c889c","name":"","func":"msg.payload = \"begin\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":2560,"wires":[["a1a71664.af0028"]]},{"id":"1a0fce01.268982","type":"debug","z":"2c05c3fb.6c889c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":2560,"wires":[]},{"id":"cbab8a5f.6e1278","type":"google-translate","z":"2c05c3fb.6c889c","name":"","to":"uk","x":1460,"y":520,"wires":[["c076cd30.e4001"]]},{"id":"9de737c3.19cc48","type":"debug","z":"2c05c3fb.6c889c","name":"Voice buffer","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":190,"y":2620,"wires":[]},{"id":"7c18ddd6.740e44","type":"google-speech-text","z":"2c05c3fb.6c889c","name":"Convert text to voice","auth":"76934f86.4cb05","input":"payload","output":"payload","inputType":"msg","intype":"content","api":"tts","getVoices":false,"encoding":"","encodingType":"str","sampleRateHertz":"","sampleRateHertzType":"num","languageCode":"en-us","languageCodeType":"str","maxAlternatives":"","maxAlternativesType":"num","profanityFilter":"true","profanityFilterType":"bool","speechContexts":"[]","speechContextsType":"json","enableWordTimeOffsets":"false","enableWordTimeOffsetsType":"bool","speakingRate":"","speakingRateType":"num","pitch":"","pitchType":"num","volumeGainDb":"","volumeGainDbType":"num","voiceName":"voice_message","voiceNameType":"str","ssmlGender":"","ssmlGenderType":"str","x":200,"y":2660,"wires":[["9de737c3.19cc48","9faf36fd.01a8d8"]]},{"id":"9faf36fd.01a8d8","type":"function","z":"2c05c3fb.6c889c","name":"Prepare options to send voice message from buffer","func":"msg.headers = {\n    \"content-type\" : 'multipart/form-data'\n    };\nlet databuffer = msg.payload;\n\nmsg.payload = {\n    voice: {\n        value: msg.payload.audioContent,\n        options: {\n            filename: \"myfile.ogg\"\n        }\n    },\n    chat_id: msg.chat_id,\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":2660,"wires":[["87b036c8.87a7f8"]]},{"id":"87b036c8.87a7f8","type":"http request","z":"2c05c3fb.6c889c","name":"Send voice message","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://api.telegram.org/bot1513347626:AAHS3wzBjpVjDrPVEonT1x2vNdFdoyOxzTw/sendVoice","tls":"","persist":false,"proxy":"","authType":"basic","x":820,"y":2660,"wires":[["2a574c65.6629a4"]]},{"id":"2a574c65.6629a4","type":"debug","z":"2c05c3fb.6c889c","name":"Result of sending voice message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":820,"y":2620,"wires":[]},{"id":"17ea4ef8.1d0361","type":"debug","z":"2c05c3fb.6c889c","name":"dialogflowState","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":820,"y":620,"wires":[]},{"id":"dfce5f75.8d98a","type":"debug","z":"2c05c3fb.6c889c","name":"addWord","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":560,"wires":[]},{"id":"854c9ebf.d7ceb","type":"function","z":"2c05c3fb.6c889c","name":"Set state","func":"\n\nif(msg.text === \"/start\") {\n    msg.user.state = \"welcome\"\n} else {\n     msg.user.state = \"dialogflowState\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2180,"y":260,"wires":[["bd9216e5.a7be48"]]},{"id":"bd9216e5.a7be48","type":"subflow:be649609.429f18","z":"2c05c3fb.6c889c","name":"","x":2330,"y":260,"wires":[["d87f9548.37d448"]]},{"id":"ddc16356.1e14d","type":"debug","z":"b8f7c590.20cb28","name":"Voice buffer","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":300,"wires":[]},{"id":"9b1aeffc.bddc2","type":"google-speech-text","z":"b8f7c590.20cb28","name":"Convert text to voice","auth":"76934f86.4cb05","input":"payload","output":"payload","inputType":"msg","intype":"content","api":"tts","getVoices":true,"encoding":"","encodingType":"str","sampleRateHertz":"","sampleRateHertzType":"num","languageCode":"en-us","languageCodeType":"str","maxAlternatives":"","maxAlternativesType":"num","profanityFilter":"true","profanityFilterType":"bool","speechContexts":"[]","speechContextsType":"json","enableWordTimeOffsets":"false","enableWordTimeOffsetsType":"bool","speakingRate":"","speakingRateType":"num","pitch":"","pitchType":"num","volumeGainDb":"","volumeGainDbType":"num","voiceName":"voice_message","voiceNameType":"str","ssmlGender":"","ssmlGenderType":"str","x":640,"y":340,"wires":[["ddc16356.1e14d","3c42c7e2.82e5f8"]]},{"id":"5787da23.6163a4","type":"function","z":"b8f7c590.20cb28","name":"Set convert text to voice","func":"msg.payload = msg.answer;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":340,"wires":[["9b1aeffc.bddc2"]]},{"id":"3c42c7e2.82e5f8","type":"function","z":"b8f7c590.20cb28","name":"Prepare options to send voice message from buffer","func":"msg.headers = {\n    \"content-type\" : 'multipart/form-data'\n    };\nlet databuffer = msg.payload;\n\nmsg.payload = {\n    voice: {\n        value: msg.payload.audioContent,\n        options: {\n            filename: \"myfile.ogg\"\n        }\n    },\n    chat_id: msg.chat_id,\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":340,"wires":[["fd1ad7.6f68d528"]]},{"id":"fd1ad7.6f68d528","type":"http request","z":"b8f7c590.20cb28","name":"Send voice message","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://api.telegram.org/bot1513347626:AAHS3wzBjpVjDrPVEonT1x2vNdFdoyOxzTw/sendVoice","tls":"","persist":false,"proxy":"","authType":"basic","x":1260,"y":340,"wires":[["6995dcaa.eaa9a4"]]},{"id":"6995dcaa.eaa9a4","type":"debug","z":"b8f7c590.20cb28","name":"Result of sending voice message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1300,"y":300,"wires":[]},{"id":"d87f9548.37d448","type":"link out","z":"2c05c3fb.6c889c","name":"","links":["a54d9646.61ce18"],"x":2435,"y":260,"wires":[]},{"id":"a54d9646.61ce18","type":"link in","z":"2c05c3fb.6c889c","name":"","links":["d87f9548.37d448","f11d2ce0.fd907"],"x":115,"y":620,"wires":[["22eb5f8b.dd6b4"]]},{"id":"f11d2ce0.fd907","type":"link out","z":"2c05c3fb.6c889c","name":"","links":["a54d9646.61ce18"],"x":3115,"y":120,"wires":[]},{"id":"b070b053.4774e","type":"function","z":"2c05c3fb.6c889c","name":"Set state","func":"\nmsg.intent = msg._dialogflow.intent.displayName;\nif(msg.intent === \"Greeting\") {\n    msg.user.state = \"welcome\"\n}\nelse if(msg.intent === \"Add\") {\n    msg.user.state = \"addWord\"\n}\nelse if(msg.intent === \"Remind\") {\n    msg.user.state = \"remindWord\"\n}\nelse if(msg.intent === \"Ask\") {\n    msg.user.state = \"askWord\"\n}\nelse if(msg.intent === \"Delete\") {\n    msg.user.state = \"deleteWord\"\n}\nelse if(msg.prevState === \"addWord\") {\n    msg.user.state = \"adding\"\n}\nelse if(msg.prevState === \"adding\") {\n    msg.user.state = \"adding\"\n}\nelse if(msg.prevState === \"asking\") {\n    msg.user.state = \"asking\"\n}\nelse if(msg.prevState === \"deleteWord\") {\n    msg.user.state = \"deleting\"\n}\nelse if(msg.prevState === \"deleting\") {\n    msg.user.state = \"deleting\"\n}\n\nelse {\n     msg.user.state = \"dialogflowState\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3000,"y":120,"wires":[["474ed694.c80fd8","f11d2ce0.fd907"]]},{"id":"474ed694.c80fd8","type":"debug","z":"2c05c3fb.6c889c","name":"Check","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2990,"y":80,"wires":[]},{"id":"181b730e.ab4a3d","type":"subflow:b8f7c590.20cb28","z":"2c05c3fb.6c889c","name":"","x":1030,"y":520,"wires":[["b5841f9f.6be4"]]},{"id":"5205572c.4cd738","type":"debug","z":"2c05c3fb.6c889c","name":"remindWord","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":1140,"wires":[]},{"id":"cccf91c2.b072a","type":"debug","z":"2c05c3fb.6c889c","name":"deleteWord","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":700,"wires":[]},{"id":"f0cd935f.eccd7","type":"mongodb out","z":"2c05c3fb.6c889c","mongodb":"b172a0a.b9cbb6","name":"Save user","collection":"users","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1600,"y":620,"wires":[]},{"id":"24ed0f46.a7809","type":"function","z":"2c05c3fb.6c889c","name":"Prepare payload to save user","func":"msg.payload = msg.user;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":620,"wires":[["f0cd935f.eccd7"]]},{"id":"e3166c6e.8a1e6","type":"subflow:b8f7c590.20cb28","z":"2c05c3fb.6c889c","name":"","x":1130,"y":620,"wires":[["24ed0f46.a7809"]]},{"id":"98a7021e.751c9","type":"debug","z":"2c05c3fb.6c889c","name":"welcome","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":660,"wires":[]},{"id":"144ab021.c375","type":"debug","z":"54029ea9.509e4","name":"Voice text","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1680,"y":240,"wires":[]},{"id":"a4da7651.9bbda8","type":"google-speech-text","z":"54029ea9.509e4","name":"Convert voice to text","auth":"76934f86.4cb05","input":"payload","output":"payload","inputType":"msg","intype":"content","api":"stt","getVoices":false,"encoding":"WAV","encodingType":"str","sampleRateHertz":"22050","sampleRateHertzType":"num","languageCode":"en-US","languageCodeType":"str","maxAlternatives":"","maxAlternativesType":"num","profanityFilter":"true","profanityFilterType":"bool","speechContexts":"[]","speechContextsType":"json","enableWordTimeOffsets":"false","enableWordTimeOffsetsType":"bool","speakingRate":"","speakingRateType":"num","pitch":"","pitchType":"num","volumeGainDb":"","volumeGainDbType":"num","voiceName":"","voiceNameType":"str","ssmlGender":"","ssmlGenderType":"str","x":1720,"y":280,"wires":[["144ab021.c375","3f39fc3c.e0ab04"]]},{"id":"25ae872b.5683e8","type":"function","z":"54029ea9.509e4","name":"Prepare to get voice message file info","func":"msg.method = \"GET\";\nmsg.url = `https://api.telegram.org/bot${msg.botToken}/getFile?file_id=${msg.file_id}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":280,"wires":[["824dc606.f0a1c8"]]},{"id":"824dc606.f0a1c8","type":"http request","z":"54029ea9.509e4","name":"Get voice message file info","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":720,"y":280,"wires":[["61e3fb8c.9feee4","7ce43f46.10b7b"]]},{"id":"61e3fb8c.9feee4","type":"debug","z":"54029ea9.509e4","name":"Voice message file info","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":240,"wires":[]},{"id":"83f0bcc1.39f04","type":"http request","z":"54029ea9.509e4","name":"Get voice message file","method":"use","ret":"bin","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1200,"y":280,"wires":[["5dd22180.245c1"]]},{"id":"5dd22180.245c1","type":"ffmpeg-conversion","z":"54029ea9.509e4","name":"Convert audio file to wav encoding","format":"wav","audiochannels":"mono","x":1460,"y":280,"wires":[["a4da7651.9bbda8"]]},{"id":"7ce43f46.10b7b","type":"function","z":"54029ea9.509e4","name":"Create file download url","func":"msg.url = `https://api.telegram.org/file/bot${msg.botToken}/${msg.payload.result.file_path}`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":280,"wires":[["83f0bcc1.39f04"]]},{"id":"3f39fc3c.e0ab04","type":"function","z":"54029ea9.509e4","name":"Set text","func":"msg.text = msg.payload.alternatives[0].transcript;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1900,"y":280,"wires":[[]]},{"id":"8eb63366.b563d","type":"subflow:54029ea9.509e4","z":"2c05c3fb.6c889c","name":"","x":2550,"y":160,"wires":[["3f5b7e45.fce3e2","8018e951.7fc698"]]},{"id":"21e25c9b.b7ecc4","type":"debug","z":"2c05c3fb.6c889c","name":"adding","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":480,"wires":[]},{"id":"8486b4b6.4cfe18","type":"function","z":"2c05c3fb.6c889c","name":"Prepare payload to save word","func":"msg.answer = `Done! The word ${msg.text} was deleted. To delete one more word please say it.`\nmsg.payload = {\n    //en: msg.text,\n   // ua: msg.payload,\n    chat_id: msg.user.chat_id\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":2280,"wires":[["47d513d9.d9907c","a4764f4.13c49b"]]},{"id":"47d513d9.d9907c","type":"mongodb out","z":"2c05c3fb.6c889c","mongodb":"b172a0a.b9cbb6","name":"Delete word","collection":"words","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":1270,"y":2260,"wires":[]},{"id":"a7d5ab75.11d8e8","type":"debug","z":"2c05c3fb.6c889c","name":"deleting","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":780,"wires":[]},{"id":"d516dcde.b55de","type":"mongodb out","z":"2c05c3fb.6c889c","mongodb":"b172a0a.b9cbb6","name":"Save user","collection":"users","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1700,"y":2320,"wires":[]},{"id":"a6de87e4.73c428","type":"function","z":"2c05c3fb.6c889c","name":"Prepare payload to save user","func":"msg.payload = msg.user;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1500,"y":2320,"wires":[["d516dcde.b55de"]]},{"id":"a4764f4.13c49b","type":"subflow:b8f7c590.20cb28","z":"2c05c3fb.6c889c","name":"","x":1290,"y":2320,"wires":[["a6de87e4.73c428"]]},{"id":"9cd0ea50.a08b48","type":"comment","z":"2c05c3fb.6c889c","name":"+","info":"","x":470,"y":480,"wires":[]},{"id":"d7639a94.e39038","type":"comment","z":"2c05c3fb.6c889c","name":"+","info":"","x":970,"y":560,"wires":[]},{"id":"8e939dc9.7448a","type":"comment","z":"2c05c3fb.6c889c","name":"+","info":"","x":970,"y":780,"wires":[]},{"id":"223b7ebd.debaf2","type":"comment","z":"2c05c3fb.6c889c","name":"+","info":"","x":970,"y":700,"wires":[]},{"id":"7d0e7e8e.c4764","type":"comment","z":"2c05c3fb.6c889c","name":"+","info":"","x":970,"y":660,"wires":[]},{"id":"f667947e.7f19f8","type":"function","z":"2c05c3fb.6c889c","name":"Prepare to find words","func":"msg.payload = {\n    \n    chat_id: msg.user.chat_id,\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":960,"wires":[["6e9abc65.a21c84"]]},{"id":"b10a081b.5d4a58","type":"mongodb out","z":"2c05c3fb.6c889c","mongodb":"b172a0a.b9cbb6","name":"Save user","collection":"users","payonly":true,"upsert":false,"multi":false,"operation":"store","x":2000,"y":920,"wires":[]},{"id":"91fb8aef.ccbd28","type":"function","z":"2c05c3fb.6c889c","name":"Prepare payload to save user","func":"msg.payload = msg.user;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1780,"y":920,"wires":[["b10a081b.5d4a58"]]},{"id":"f37f7fa7.2a5a9","type":"subflow:b8f7c590.20cb28","z":"2c05c3fb.6c889c","name":"","x":1530,"y":960,"wires":[["91fb8aef.ccbd28","a09dd171.73d98"]]},{"id":"f522972f.578398","type":"debug","z":"2c05c3fb.6c889c","name":"askWord","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":920,"wires":[]},{"id":"b9c120bb.e90a7","type":"debug","z":"2c05c3fb.6c889c","name":"adding","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":999.9999389648438,"y":431.6666564941406,"wires":[]},{"id":"31ae2f82.efd13","type":"function","z":"2c05c3fb.6c889c","name":"","func":"msg.payload = {\n    \n    chat_id: msg.user.chat_id,\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":1180,"wires":[["856da95e.8a9c78"]]},{"id":"856da95e.8a9c78","type":"mongodb in","z":"2c05c3fb.6c889c","mongodb":"b172a0a.b9cbb6","name":"Find word","collection":"words","operation":"find","x":960,"y":1180,"wires":[["b19094d7.f5d1d8"]]},{"id":"b19094d7.f5d1d8","type":"function","z":"2c05c3fb.6c889c","name":"Prepare payload to save word","func":"//for( let i = 0; i< msg.payload.length; i-- ) {\n//msg.answer = `Ok. Let's remind your words together. A word ${msg.payload.en} means ${msg.payload.ua}`  \n//}\n\n/*msg.payload == msg.payload[msg.payload.length - 1];\n\nmsg.payload.forEach(function(item, i, arr) {\n    msg.answer = `Ok. Let's remind your words together. A ${i} word ${item.en} means ${item.ua}`  \n})\n*/\n\nmsg.words = msg.payload.map((word)=>{\n    return `${word.en} - ${word.ua}`;\n})\nmsg.answer = msg.words.join('\\n');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1190,"y":1180,"wires":[["1d08a6e0.3196c9"]]},{"id":"e0667d95.4e373","type":"function","z":"2c05c3fb.6c889c","name":"Set state","func":"\nif(msg.user.state === \"askWord\") {\n    msg.user.state = \"asking\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2180,"y":140,"wires":[["427f29a6.94a858"]]},{"id":"cdd6ec7.3ec101","type":"debug","z":"3f28875d.204368","name":"Voice text","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1680,"y":280,"wires":[]},{"id":"707876d6.b5a8c8","type":"google-speech-text","z":"3f28875d.204368","name":"Convert voice to text","auth":"76934f86.4cb05","input":"payload","output":"payload","inputType":"msg","intype":"content","api":"stt","getVoices":false,"encoding":"WAV","encodingType":"str","sampleRateHertz":"22050","sampleRateHertzType":"num","languageCode":"uk-UA","languageCodeType":"str","maxAlternatives":"","maxAlternativesType":"num","profanityFilter":"true","profanityFilterType":"bool","speechContexts":"[]","speechContextsType":"json","enableWordTimeOffsets":"false","enableWordTimeOffsetsType":"bool","speakingRate":"","speakingRateType":"num","pitch":"","pitchType":"num","volumeGainDb":"","volumeGainDbType":"num","voiceName":"","voiceNameType":"str","ssmlGender":"","ssmlGenderType":"str","x":1720,"y":320,"wires":[["cdd6ec7.3ec101","e4c12e6e.12147"]]},{"id":"2d5ce0a4.c6311","type":"function","z":"3f28875d.204368","name":"Prepare to get voice message file info","func":"msg.method = \"GET\";\nmsg.url = `https://api.telegram.org/bot${msg.botToken}/getFile?file_id=${msg.file_id}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":320,"wires":[["951c0990.dc46e8"]]},{"id":"951c0990.dc46e8","type":"http request","z":"3f28875d.204368","name":"Get voice message file info","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":720,"y":320,"wires":[["a9388e23.473d9","7636455b.660b2c"]]},{"id":"a9388e23.473d9","type":"debug","z":"3f28875d.204368","name":"Voice message file info","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":280,"wires":[]},{"id":"7f546087.629db","type":"http request","z":"3f28875d.204368","name":"Get voice message file","method":"use","ret":"bin","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1200,"y":320,"wires":[["a40c68e5.1dce68"]]},{"id":"a40c68e5.1dce68","type":"ffmpeg-conversion","z":"3f28875d.204368","name":"Convert audio file to wav encoding","format":"wav","audiochannels":"mono","x":1460,"y":320,"wires":[["707876d6.b5a8c8"]]},{"id":"7636455b.660b2c","type":"function","z":"3f28875d.204368","name":"Create file download url","func":"msg.url = `https://api.telegram.org/file/bot${msg.botToken}/${msg.payload.result.file_path}`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":320,"wires":[["7f546087.629db"]]},{"id":"e4c12e6e.12147","type":"function","z":"3f28875d.204368","name":"Set text","func":"msg.text = msg.payload.alternatives[0].transcript;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1920,"y":320,"wires":[[]]},{"id":"427f29a6.94a858","type":"switch","z":"2c05c3fb.6c889c","name":"","property":"user.state","propertyType":"msg","rules":[{"t":"eq","v":"asking","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2330,"y":120,"wires":[["98486e8f.c3599"],["8eb63366.b563d"]]},{"id":"98486e8f.c3599","type":"subflow:3f28875d.204368","z":"2c05c3fb.6c889c","name":"","x":2550,"y":80,"wires":[["3f5b7e45.fce3e2","5591b72f.3c2078"]]},{"id":"4a811501.43c80c","type":"function","z":"2c05c3fb.6c889c","name":"Prepare payload to save word","func":"//msg.firstResult = msg.payload.find().sort({'_id':-1}).limit(1)\n//msg.lastResult = msg.payload[Math.floor(Math.random()*msg.payload.length)];\nmsg.firstResult = msg.payload[msg.payload.length - 1];\nif(msg.text == msg.firstResult.ua) {\n    msg.lastResult = true\n}\n\nelse msg.lastResult = false;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1190,"y":1300,"wires":[["81db75f8.1d10c8"]]},{"id":"c5dfc34e.e2573","type":"function","z":"2c05c3fb.6c889c","name":"Prepare payload to save word","func":"\n//msg.result = msg.payload.find( element => element.chat_id == msg.user.chat_id );\nif(msg.payload.length) {\nmsg.lastResult = msg.payload[Math.floor(Math.random()*msg.payload.length)];\n\nmsg.answer = `What does mean a word ${msg.lastResult.en}?`\n}\nelse msg.answer = `Sorry. You don't have any words in your dictionary`\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":960,"wires":[["f37f7fa7.2a5a9"]]},{"id":"1203fb1e.40fca5","type":"comment","z":"2c05c3fb.6c889c","name":"+","info":"","x":970,"y":620,"wires":[]},{"id":"8d254de1.d3be5","type":"debug","z":"2c05c3fb.6c889c","name":"asking","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":1260,"wires":[]},{"id":"e38478c4.faf038","type":"comment","z":"2c05c3fb.6c889c","name":"+","info":"","x":970,"y":920,"wires":[]},{"id":"a09dd171.73d98","type":"function","z":"2c05c3fb.6c889c","name":"Prepare payload to save training word","func":"\nmsg.payload = {\n    en: msg.lastResult.en,\n    ua: msg.lastResult.ua,\n    chat_id: msg.user.chat_id\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1810,"y":960,"wires":[["d8543fab.0e4e8"]]},{"id":"d8543fab.0e4e8","type":"mongodb out","z":"2c05c3fb.6c889c","mongodb":"b172a0a.b9cbb6","name":"Save training word","collection":"training","payonly":true,"upsert":false,"multi":false,"operation":"store","x":2090,"y":960,"wires":[]},{"id":"9034fb62.c6f5a8","type":"function","z":"2c05c3fb.6c889c","name":"","func":"msg.payload = {\n    \n    chat_id: msg.user.chat_id,\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":1300,"wires":[["aad602fe.945cc"]]},{"id":"aad602fe.945cc","type":"mongodb in","z":"2c05c3fb.6c889c","mongodb":"b172a0a.b9cbb6","name":"Find word","collection":"training","operation":"find","x":960,"y":1300,"wires":[["4a811501.43c80c"]]},{"id":"81db75f8.1d10c8","type":"switch","z":"2c05c3fb.6c889c","name":"","property":"lastResult","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1410,"y":1300,"wires":[["23dab6e2.cb51aa"],["30eb6901.30eff6"]]},{"id":"5f7da534.64dfbc","type":"function","z":"2c05c3fb.6c889c","name":"","func":"msg.lastResult = msg.payload[Math.floor(Math.random()*msg.payload.length)];\n\nmsg.answer = `No, ${msg.firstResult.en}  means ${msg.firstResult.ua}. What does mean a word ${msg.lastResult.en}?`\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1860,"y":1340,"wires":[["fff4f15a.b5a5"]]},{"id":"fff4f15a.b5a5","type":"subflow:b8f7c590.20cb28","z":"2c05c3fb.6c889c","name":"","x":2050,"y":1340,"wires":[["d3c66b47.3b2668"]]},{"id":"23dab6e2.cb51aa","type":"function","z":"2c05c3fb.6c889c","name":"","func":"msg.payload = {\n    \n    chat_id: msg.user.chat_id,\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1540,"y":1260,"wires":[["4fa0ddab.7f8794"]]},{"id":"b91db239.ab047","type":"subflow:b8f7c590.20cb28","z":"2c05c3fb.6c889c","name":"","x":2190,"y":1260,"wires":[[]]},{"id":"4fa0ddab.7f8794","type":"mongodb in","z":"2c05c3fb.6c889c","mongodb":"b172a0a.b9cbb6","name":"Find word","collection":"words","operation":"find","x":1700,"y":1260,"wires":[["7f4cc123.c474f"]]},{"id":"7f4cc123.c474f","type":"function","z":"2c05c3fb.6c889c","name":"Prepare payload to save word","func":"\n//msg.result = msg.payload.find( element => element.chat_id == msg.user.chat_id );\n\nmsg.lastResult = msg.payload[Math.floor(Math.random()*msg.payload.length)];\n\nmsg.answer = `Well done! Ok! What does mean a word ${msg.lastResult.en}?`\n\nmsg.payload = {\n    en: msg.lastResult.en,\n    ua: msg.lastResult.ua,\n    chat_id: msg.user.chat_id\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1930,"y":1260,"wires":[["b91db239.ab047","c23e9efd.9e2e1"]]},{"id":"30eb6901.30eff6","type":"function","z":"2c05c3fb.6c889c","name":"","func":"msg.payload = {\n    \n    chat_id: msg.user.chat_id,\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1540,"y":1340,"wires":[["cdda08c9.f961d8"]]},{"id":"cdda08c9.f961d8","type":"mongodb in","z":"2c05c3fb.6c889c","mongodb":"b172a0a.b9cbb6","name":"Find word","collection":"words","operation":"find","x":1700,"y":1340,"wires":[["5f7da534.64dfbc"]]},{"id":"47a8a002.60281","type":"function","z":"2c05c3fb.6c889c","name":"Prepare payload to save training word","func":"\nmsg.payload = {\n    en: msg.lastResult.en,\n    ua: msg.lastResult.ua,\n    chat_id: msg.user.chat_id\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2470,"y":1260,"wires":[[]]},{"id":"c23e9efd.9e2e1","type":"mongodb out","z":"2c05c3fb.6c889c","mongodb":"b172a0a.b9cbb6","name":"Save training word","collection":"training","payonly":true,"upsert":false,"multi":false,"operation":"store","x":2190,"y":1200,"wires":[]},{"id":"86827006.a1959","type":"function","z":"2c05c3fb.6c889c","name":"Prepare payload to save training word","func":"\nmsg.payload = {\n    en: msg.lastResult.en,\n    ua: msg.lastResult.ua,\n    chat_id: msg.user.chat_id\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3150,"y":1340,"wires":[[]]},{"id":"b92019fb.808ad8","type":"mongodb out","z":"2c05c3fb.6c889c","mongodb":"b172a0a.b9cbb6","name":"Save training word","collection":"training","payonly":true,"upsert":false,"multi":false,"operation":"store","x":2810,"y":1280,"wires":[]},{"id":"5591b72f.3c2078","type":"debug","z":"2c05c3fb.6c889c","name":"Voice text","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2560,"y":40,"wires":[]},{"id":"57532e99.ed1b3","type":"comment","z":"2c05c3fb.6c889c","name":"+","info":"","x":970,"y":1140,"wires":[]},{"id":"c18dbe28.ca91c","type":"comment","z":"2c05c3fb.6c889c","name":"+","info":"","x":970,"y":1260,"wires":[]},{"id":"418a8ba.6e46d74","type":"function","z":"2c05c3fb.6c889c","name":"Prepare to find words","func":"msg.payload = {\n    \n    chat_id: msg.user.chat_id,\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":840,"wires":[["141287aa.ae14c8"]]},{"id":"141287aa.ae14c8","type":"mongodb in","z":"2c05c3fb.6c889c","mongodb":"b172a0a.b9cbb6","name":"Find word","collection":"words","operation":"find","x":1040,"y":840,"wires":[["719fb7c1.de2418"]]},{"id":"719fb7c1.de2418","type":"function","z":"2c05c3fb.6c889c","name":"if word exists","func":"if(msg.payload.length) {\n    msg.wordExist = true\n}\nelse msg.wordExist = false\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":840,"wires":[["2b8b8dfa.3c87a2"]]},{"id":"d5ecd9c8.fd6e48","type":"function","z":"2c05c3fb.6c889c","name":"Prepare payload to delete word","func":"msg.answer = `Done! The word ${msg.text} was deleted. To delete one more word please say it.`\n\nmsg.payload = {\n    \n    chat_id: msg.user.chat_id,\n    en: msg.text,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1690,"y":800,"wires":[["8602ffe4.e8f1d","18f144bc.d7529b"]]},{"id":"2b8b8dfa.3c87a2","type":"switch","z":"2c05c3fb.6c889c","name":"check if word exists","property":"wordExist","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1420,"y":840,"wires":[["d5ecd9c8.fd6e48"],["efc2d2b1.195a2"]]},{"id":"efc2d2b1.195a2","type":"function","z":"2c05c3fb.6c889c","name":"message about empty dictionary","func":"msg.answer = `Sorry. You don't have any words in your dictionary`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1700,"y":860,"wires":[["8602ffe4.e8f1d","7e0542fc.ab795c"]]},{"id":"18f144bc.d7529b","type":"mongodb out","z":"2c05c3fb.6c889c","mongodb":"b172a0a.b9cbb6","name":"Delete word","collection":"words","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":1930,"y":740,"wires":[]},{"id":"19597357.ae9dcd","type":"mongodb out","z":"2c05c3fb.6c889c","mongodb":"b172a0a.b9cbb6","name":"Save user","collection":"users","payonly":true,"upsert":false,"multi":false,"operation":"store","x":2400,"y":800,"wires":[]},{"id":"6d6cccda.1c8af4","type":"function","z":"2c05c3fb.6c889c","name":"Prepare payload to save user","func":"msg.payload = msg.user;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2200,"y":800,"wires":[["19597357.ae9dcd"]]},{"id":"8602ffe4.e8f1d","type":"subflow:b8f7c590.20cb28","z":"2c05c3fb.6c889c","name":"","x":1950,"y":800,"wires":[["6d6cccda.1c8af4"]]},{"id":"7e0542fc.ab795c","type":"debug","z":"2c05c3fb.6c889c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2000,"y":860,"wires":[]},{"id":"6e9abc65.a21c84","type":"mongodb in","z":"2c05c3fb.6c889c","mongodb":"b172a0a.b9cbb6","name":"Find word","collection":"words","operation":"find","x":1040,"y":960,"wires":[["c5dfc34e.e2573"]]},{"id":"f973510d.39d53","type":"debug","z":"31238394.02f4cc","name":"Voice buffer","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":300,"wires":[]},{"id":"3c3babdc.0e7eb4","type":"google-speech-text","z":"31238394.02f4cc","name":"Convert text to voice","auth":"76934f86.4cb05","input":"payload","output":"payload","inputType":"msg","intype":"content","api":"tts","getVoices":true,"encoding":"","encodingType":"str","sampleRateHertz":"","sampleRateHertzType":"num","languageCode":"uk-UA","languageCodeType":"str","maxAlternatives":"","maxAlternativesType":"num","profanityFilter":"true","profanityFilterType":"bool","speechContexts":"[]","speechContextsType":"json","enableWordTimeOffsets":"false","enableWordTimeOffsetsType":"bool","speakingRate":"","speakingRateType":"num","pitch":"","pitchType":"num","volumeGainDb":"","volumeGainDbType":"num","voiceName":"voice_message","voiceNameType":"str","ssmlGender":"","ssmlGenderType":"str","x":680,"y":340,"wires":[["f973510d.39d53","c8be4359.80e5"]]},{"id":"58210b3b.7b0574","type":"function","z":"31238394.02f4cc","name":"Set convert text to voice","func":"msg.payload = msg.answer;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":340,"wires":[["3c3babdc.0e7eb4"]]},{"id":"c8be4359.80e5","type":"function","z":"31238394.02f4cc","name":"Prepare options to send voice message from buffer","func":"msg.headers = {\n    \"content-type\" : 'multipart/form-data'\n    };\nlet databuffer = msg.payload;\n\nmsg.payload = {\n    voice: {\n        value: msg.payload.audioContent,\n        options: {\n            filename: \"myfile.ogg\"\n        }\n    },\n    chat_id: msg.chat_id,\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":340,"wires":[["1e8ecd1d.050b33"]]},{"id":"1e8ecd1d.050b33","type":"http request","z":"31238394.02f4cc","name":"Send voice message","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://api.telegram.org/bot1513347626:AAHS3wzBjpVjDrPVEonT1x2vNdFdoyOxzTw/sendVoice","tls":"","persist":false,"proxy":"","authType":"basic","x":1340,"y":340,"wires":[["ad0876f6.c41ed8"]]},{"id":"ad0876f6.c41ed8","type":"debug","z":"31238394.02f4cc","name":"Result of sending voice message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1380,"y":300,"wires":[]},{"id":"f0a2c6.bb261d38","type":"inject","z":"2c05c3fb.6c889c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":640,"y":1600,"wires":[["23edc16.35f2f3e"]]},{"id":"23edc16.35f2f3e","type":"function","z":"2c05c3fb.6c889c","name":"Prepare payload to save word","func":"//for( let i = 0; i< msg.payload.length; i-- ) {\n//msg.answer = `Ok. Let's remind your words together. A word ${msg.payload.en} means ${msg.payload.ua}`  \n//}\n\n/*msg.payload == msg.payload[msg.payload.length - 1];\n\nmsg.payload.forEach(function(item, i, arr) {\n    msg.answer = `Ok. Let's remind your words together. A ${i} word ${item.en} means ${item.ua}`  \n})\n*/\nmsg.lastResult = msg.payload[Math.floor(Math.random()*msg.payload.length)];\nmsg.answer = `Hello`  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":1600,"wires":[["225d1cd5.dc0894"]]},{"id":"9e1a8eb0.9798f","type":"debug","z":"2c05c3fb.6c889c","name":"Voice buffer","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1380,"y":1560,"wires":[]},{"id":"d638849f.9f3a68","type":"google-speech-text","z":"2c05c3fb.6c889c","name":"Convert text to voice","auth":"76934f86.4cb05","input":"payload","output":"payload","inputType":"msg","intype":"content","api":"tts","getVoices":true,"encoding":"","encodingType":"str","sampleRateHertz":"","sampleRateHertzType":"num","languageCode":"languages","languageCodeType":"msg","maxAlternatives":"","maxAlternativesType":"num","profanityFilter":"true","profanityFilterType":"bool","speechContexts":"[]","speechContextsType":"json","enableWordTimeOffsets":"false","enableWordTimeOffsetsType":"bool","speakingRate":"","speakingRateType":"num","pitch":"","pitchType":"num","volumeGainDb":"","volumeGainDbType":"num","voiceName":"voice_message","voiceNameType":"str","ssmlGender":"","ssmlGenderType":"str","x":1390,"y":1600,"wires":[["9e1a8eb0.9798f","ec421630.63a668"]]},{"id":"225d1cd5.dc0894","type":"function","z":"2c05c3fb.6c889c","name":"Set convert text to voice","func":"msg.payload = msg.answer;\nmsg.languages = ['es-ES', 'en-US', 'uk-UA'];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":1600,"wires":[["d638849f.9f3a68"]]},{"id":"ec421630.63a668","type":"function","z":"2c05c3fb.6c889c","name":"Prepare options to send voice message from buffer","func":"msg.headers = {\n    \"content-type\" : 'multipart/form-data'\n    };\nlet databuffer = msg.payload;\n\nmsg.part1 = msg.payload.audioContent;\n\nmsg.payload = {\n    voice: {\n        value: msg.payload.audioContent,\n        options: {\n            filename: \"myfile.ogg\"\n        }\n    },\n    chat_id: 390308480,\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1700,"y":1600,"wires":[["f4056f44.51504"]]},{"id":"b32311f6.63044","type":"http request","z":"2c05c3fb.6c889c","name":"Send voice message","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://api.telegram.org/bot1513347626:AAHS3wzBjpVjDrPVEonT1x2vNdFdoyOxzTw/sendVoice","tls":"","persist":false,"proxy":"","authType":"basic","x":3240,"y":1600,"wires":[["2755cb5f.732af4"]]},{"id":"2755cb5f.732af4","type":"debug","z":"2c05c3fb.6c889c","name":"Result of sending voice message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3280,"y":1560,"wires":[]},{"id":"f4056f44.51504","type":"function","z":"2c05c3fb.6c889c","name":"Prepare payload to save word","func":"//for( let i = 0; i< msg.payload.length; i-- ) {\n//msg.answer = `Ok. Let's remind your words together. A word ${msg.payload.en} means ${msg.payload.ua}`  \n//}\n\n/*msg.payload == msg.payload[msg.payload.length - 1];\n\nmsg.payload.forEach(function(item, i, arr) {\n    msg.answer = `Ok. Let's remind your words together. A ${i} word ${item.en} means ${item.ua}`  \n})\n*/\nmsg.lastResult = msg.payload[Math.floor(Math.random()*msg.payload.length)];\nmsg.answer = `Hello`  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2060,"y":1600,"wires":[["4381d9fa.00cea8"]]},{"id":"3967a299.7adb5e","type":"debug","z":"2c05c3fb.6c889c","name":"Voice buffer","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2560,"y":1560,"wires":[]},{"id":"86440c96.c70bd","type":"google-speech-text","z":"2c05c3fb.6c889c","name":"Convert text to voice","auth":"76934f86.4cb05","input":"payload","output":"payload","inputType":"msg","intype":"content","api":"tts","getVoices":false,"encoding":"","encodingType":"str","sampleRateHertz":"","sampleRateHertzType":"num","languageCode":"en-us","languageCodeType":"str","maxAlternatives":"","maxAlternativesType":"num","profanityFilter":"true","profanityFilterType":"bool","speechContexts":"[]","speechContextsType":"json","enableWordTimeOffsets":"false","enableWordTimeOffsetsType":"bool","speakingRate":"","speakingRateType":"num","pitch":"","pitchType":"num","volumeGainDb":"","volumeGainDbType":"num","voiceName":"voice_message","voiceNameType":"str","ssmlGender":"","ssmlGenderType":"str","x":2580,"y":1600,"wires":[["3967a299.7adb5e","ebae245c.eb7958"]]},{"id":"4381d9fa.00cea8","type":"function","z":"2c05c3fb.6c889c","name":"Set convert text to voice","func":"msg.payload = \"Hello  \";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2340,"y":1600,"wires":[["86440c96.c70bd"]]},{"id":"ebae245c.eb7958","type":"function","z":"2c05c3fb.6c889c","name":"Prepare options to send voice message from buffer","func":"msg.headers = {\n    \"content-type\" : 'multipart/form-data'\n    };\nlet databuffer = msg.payload;\n\nmsg.payload = {\n    voice: {\n        value: msg.payload.audioContent,\n        options: {\n            filename: \"myfile.ogg\"\n        }\n    },\n    chat_id: 390308480,\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2910,"y":1600,"wires":[["b32311f6.63044"]]},{"id":"7f8db307.609cec","type":"mongodb out","z":"2c05c3fb.6c889c","mongodb":"b172a0a.b9cbb6","name":"Save user","collection":"users","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1900,"y":1700,"wires":[]},{"id":"44b439e3.57f988","type":"function","z":"2c05c3fb.6c889c","name":"Prepare payload to save user","func":"msg.payload = msg.user;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1700,"y":1700,"wires":[["7f8db307.609cec"]]},{"id":"fa71c982.964c08","type":"subflow:b8f7c590.20cb28","z":"2c05c3fb.6c889c","name":"","x":1450,"y":1700,"wires":[["44b439e3.57f988"]]},{"id":"c4045793.349508","type":"function","z":"2c05c3fb.6c889c","name":"Prepare payload to save word","func":"//for( let i = 0; i< msg.payload.length; i-- ) {\n//msg.answer = `Ok. Let's remind your words together. A word ${msg.payload.en} means ${msg.payload.ua}`  \n//}\n\n/*msg.payload == msg.payload[msg.payload.length - 1];\n\nmsg.payload.forEach(function(item, i, arr) {\n    msg.answer = `Ok. Let's remind your words together. A ${i} word ${item.en} means ${item.ua}`  \n})\n*/\nmsg.lastResult = msg.payload[Math.floor(Math.random()*msg.payload.length)];\nmsg.answer = `Ok. Let's remind your words together. A word ${msg.lastResult.en} means${msg.lastResult.ua}`  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1190,"y":1700,"wires":[["fa71c982.964c08"]]},{"id":"1d08a6e0.3196c9","type":"function","z":"2c05c3fb.6c889c","name":"","func":"msg.method = \"POST\";\nmsg.url = `https://api.telegram.org/bot${msg.botToken}/sendMessage`;\nmsg.payload = {\n    chat_id: msg.chat_id,\n    text: msg.answer\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":1180,"wires":[["f51fee4.43cad1"]]},{"id":"f51fee4.43cad1","type":"http request","z":"2c05c3fb.6c889c","name":"Request sendMessage","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1620,"y":1180,"wires":[["b5ae4686.a8ceb8"]]},{"id":"b5ae4686.a8ceb8","type":"debug","z":"2c05c3fb.6c889c","name":"Result of message sending","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1640,"y":1140,"wires":[]},{"id":"b8e9b863.00f208","type":"subflow:31238394.02f4cc","z":"2c05c3fb.6c889c","name":"","x":1970,"y":520,"wires":[["49dc1214.3a02cc"]]},{"id":"c076cd30.e4001","type":"function","z":"2c05c3fb.6c889c","name":"Prepare payload to save word","func":"msg.answer = `${msg.payload}`\n\nmsg.payload = {\n    en: msg.text,\n    ua: msg.payload,\n    chat_id: msg.user.chat_id\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1710,"y":520,"wires":[["b8e9b863.00f208","271b96ed.f1cd5a"]]},{"id":"49dc1214.3a02cc","type":"function","z":"2c05c3fb.6c889c","name":"","func":"msg.answer = ` was added to your dictionary. To add one more word please say it.`\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2160,"y":520,"wires":[["887b524d.3dd99"]]},{"id":"887b524d.3dd99","type":"subflow:b8f7c590.20cb28","z":"2c05c3fb.6c889c","name":"","x":2350,"y":520,"wires":[["597a8c8f.e13c74"]]},{"id":"b5841f9f.6be4","type":"function","z":"2c05c3fb.6c889c","name":"Prepare to translate","func":"msg.payload = msg.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1250,"y":520,"wires":[["cbab8a5f.6e1278"]]},{"id":"d3c66b47.3b2668","type":"function","z":"2c05c3fb.6c889c","name":"","func":"msg.answer = `${msg.firstResult.ua}`\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2240,"y":1340,"wires":[["eabbc78e.3fb778"]]},{"id":"5aaafd0f.15db04","type":"function","z":"2c05c3fb.6c889c","name":"","func":"msg.answer = `What does mean a word ${msg.lastResult.en}?`\n\nmsg.payload = {\n    en: msg.lastResult.en,\n    ua: msg.lastResult.ua,\n    chat_id: msg.user.chat_id\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2620,"y":1340,"wires":[["2991a485.5307dc","b92019fb.808ad8"]]},{"id":"eabbc78e.3fb778","type":"subflow:31238394.02f4cc","z":"2c05c3fb.6c889c","name":"","x":2430,"y":1340,"wires":[["5aaafd0f.15db04"]]},{"id":"2991a485.5307dc","type":"subflow:b8f7c590.20cb28","z":"2c05c3fb.6c889c","name":"","x":2810,"y":1340,"wires":[[]]}]